{
    "env": "prod",
    "port": 3000,

    "images_mini_directory": "images/mini/",
    "images_normal_directory": "images/normal/",
    "images_mini_size": 96,
    "images_normal_size": 1200,

    "couch_host": "localhost",
    "couch_port": 5984,
    "couch_db": "floristic_soft",
    "couch_connexion_string": "http://[couchdb_admin_login]:[couchdb_admin_password]@localhost:5984",
    
    "elastic_host": "localhost",
    "elastic_port": 9200,
    "elastic_uri": "http://localhost:9200",
    "elastic_river_index": "_river",
    "elastic_river_name": "floristic_soft_river",
    "elastic_data_index": "floristic_soft",
    "elastic_data_type": "species",

    "api_default_from": 0,
    "api_default_size": 20,
    "api_default_min_size": 1,
    "api_default_max_size": 500,
    "api_default_include_facets": false,
    "api_default_min_score": 0.5,
    "api_default_slop": 10,
    "api_geo_max_size": 5000,

    "gbif_api_occurence_geometry": "http://api.gbif.org/v1/occurrence/search?taxonKey=6&limit=300&geometry=",
    "gbif_api_offset": "&offset=",
    "gbif_geometry_distance_km": 2,
    "gbif_api_label": "GBIF",

    "ds_api_occurence_geometry": "http://ds.plantnet-project.org/api/plantnet/search?include_docs=true&limit=300&q=",
    "ds_api_offset": "&skip=",
    "ds_api_login": "http://ds.plantnet-project.org/api/session",
    "ds_api_label": "Pl@ntNet",
    "ds_api_user": "[login]",
    "ds_api_password": "[password]",

    "pnet_ds_image_root": "http://identify.plantnet-project.org/api/",
    "pnet_image": "plantnet-project.org"
}